name: Create next milestone
on:
  milestone:
    types: [closed]

permissions:
  contents: read
  issues: write

jobs:
  create_next_milestone:
    runs-on: ubuntu-latest
    steps:
      - name: Get next minor version
        id: semvers
        uses: WyriHaximus/github-action-next-semvers@18aa9ed4152808ab99b88d71f5481e41f8d89930 # 1.2.1
        with:
          version: ${{ github.event.milestone.title }}
      - name: Create next milestone
        uses: WyriHaximus/github-action-create-milestone@6f8e11bb23890a15c6cc520abf7a36510dfd0f94 # 1.2.0
        with:
          title: ${{ steps.semvers.outputs.minor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
